<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="https://media.discordapp.net/attachments/707975903900205157/878268865807794227/unknown.png?width=670&height=670" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width">
    <title>統神「接」火鍋</title>
    <link href="/static/beta.css" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <div id="user_select">
      <br><br><br>
      <h1 class="title" id="User_title">請先登入</h1><br><br>
      <h2 class="title">每人可以同時持有多個成就，但一次只能選擇一個顯示於排行榜上</h2><br>
      <h3 class="title">您擁有的成就：</h3>
      <h3 class="title" id="i_have"></h3>
    </div>
    <br><br><br><br><br><br><br><br><br>
    <div class="title">
      <button class="start_button" onclick="location.href='https://hotpot.guaichi.repl.co/log_in/'">返回</button>
    </div>
    <script src="/static/person.js"></script>
  </body>
</html>